* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 22px;
    color: #000;
    font-family: "Arial", sans-serif;
}

div.container {
    display: grid;
    grid-template-columns: 10% 10% 1fr 1fr 16%;
    column-gap: 5px;
    row-gap: 5px;
    max-width: 1280px;
    min-height: 100vh;
    margin: 30px auto;
    padding: 5px;
    background-color: #353545;
}

div.container div.tile {
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: #9a9a9a;
}

ul {
    padding: 0 15px;
}

button {
    margin: 5px 0;
    padding: 8px 30px;
    color: #fff;
    font-size: 22px;
    text-align: center;
    background-color: #4cbf51;
    border: 2px solid #4cbf51;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

button:active {
    transform: scale(0.96);
}

.active {
    background-color: #f55237;
    border: 2px solid #f55237;
}

button.err {
    position: relative;
    font-size: 20px;
    letter-spacing: 1px;
}

button.err span + span {
    display: block;
    font-size: 12px;
    letter-spacing: 2px;
}

button.err div {
    position: absolute;
    background-color: rgba(53, 53, 69, 0.8);
    top: 100%;
    left: 0;
    margin: 12px 0 0;
    width: 140%;
    padding: 5px;
    font-size: 16px;
    letter-spacing: 2px;
    z-index: 1;
    transform: translateX(-15%);
    display: none;
}

button.err div::after {
    position: absolute;
    content: "";
    display: block;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    border: 8px solid transparent;
    border-bottom-color: rgba(53, 53, 69, 0.8);
}

button.err:hover div {
    display: block;
}

div.main button {
    font-size: 20px;
    letter-spacing: 1px;
    min-width: 160px;
}

div.main button span + span {
    display: block;
    font-size: 12px;
    letter-spacing: 2px;
}

.activeMain {
    color: #8c2b0d;
    font-weight: bold;
}

div.mainServer {
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
}

div.info {
    grid-column: 1/4;
    grid-row: 2/3;
}

div.mainServerLogs {
    position: relative;
    grid-column: 1/4;
    grid-row: 3/4;
}

div.mainServerLogs div {
    position: absolute;
    bottom: 0;
    padding: 8px 5px;
}